#>cd Documents/NTU/2_Sophomore/2-2/R/Project/LING5505-Final-Project-Group3

In [1]:
import numpy as np
import pandas as pd
import gdown
import os

import torch
import transformers

import CwnSenseTagger
CwnSenseTagger.download()

import CwnGraph
CwnGraph.download()

from CwnGraph import CwnBase
from ckiptagger import data_utils, construct_dictionary, WS, POS, NER

#import DistilTag
#DistilTag.download()

A copy of DistilTag model already exists. Use upgrade=True to overwrite
A copy of cwn_grpah.pyobj already exists. Use upgrade=True to overwrite

In [2]:
ws = WS(os.path.abspath(os.path.join(os.getcwd(), os.path.pardir)) + '/data')
pos = POS(os.path.abspath(os.path.join(os.getcwd(), os.path.pardir)) + '/data')
ner = NER(os.path.abspath(os.path.join(os.getcwd(), os.path.pardir)) + '/data')

/Users/dereklu/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/layers/legacy_rnn/rnn_cell_impl.py:909: UserWarning: `tf.nn.rnn_cell.LSTMCell` is deprecated and will be removed in a future version. This class is equivalent as `tf.keras.layers.LSTMCell`, and will be replaced by that in Tensorflow 2.0.
  warnings.warn("`tf.nn.rnn_cell.LSTMCell` is deprecated and will be "
/Users/dereklu/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/base_layer_v1.py:1700: UserWarning: `layer.add_variable` is deprecated and will be removed in a future version. Please use `layer.add_weight` method instead.
  warnings.warn('`layer.add_variable` is deprecated and '

### 讀取資料集

In [3]:
all_f = []

for file in os.listdir("data_set/"):
    if file.endswith(".txt"): all_f.append(file)

len(all_f)

208

In [4]:
sentence_list = []

for i in all_f:
    f = open("data_set/" + i)
    sentence_list.append(f.read())

In [5]:
print(sentence_list[1])
print("\nlist length = ", len(sentence_list))

秋天總給人一種蕭瑟之感，但我卻對秋天情有獨鍾。
秋風颯颯，捲起了千堆落葉，也捲起了眾多遷客騷人的心。秋是詩人的季節，許多對人生的慨歎或瞭悟在這個季節找到了適當的詞語。秋風一起，詩句亦在詩人的腦中跳躍並重組著，待風歇息，一首首動人的詩句便完成了，也因此我能在這悽美的季節，吟詠著古今文人的寂寞，抑或曠達，進而尋找自己的人生方向。
如果夏是一首絕句，我認為邱是舖採搞文的長賦。厭倦秋天的人認為它冗言而寡要，而深愛的秋天的人總能讀出壯麗的美感。秋天是個冷靜的季節，它總沉得住氣。它不急不徐，卻在我們的周遭留下一些痕跡。秋風吹著樹葉，卻不催它迅速轉紅。每日每日，秋意漸濃，樹葉也一點一點轉黃至淡紅中至深紅而落下。秋天看似孤傲，不易接近，但它默默付出心力，在季節得遞嬗扮演著轉承的角色，落下的葉是為了留下空間迎接新生命的到來，讓眾人所愛的綠再次蓊鬱。秋總不居功，它不喜歡光彩奪目的人生，但它成就著他人的輝煌。
我期許著自己能如同秋天一般，無伐善、無施勞，貢獻一己之心，讓社會能持續轉動，不停歇。

list length =  208

### setting ckiptagger

In [6]:
word_sentence_list = ws(sentence_list)

pos_sentence_list = pos(word_sentence_list)

entity_sentence_list = ner(word_sentence_list, pos_sentence_list)

### 斷詞結果顯示函式

In [7]:
def print_word_pos_sentence (word_sentence, pos_sentence):
    assert len(word_sentence) == len(pos_sentence)
    for word, pos in zip(word_sentence, pos_sentence):
        print(f"{word}({pos})", end="\u3000")
    print()
    return

"""
for i, sentence in enumerate(sentence_list):
    print(f"'{sentence}'")
    print_word_pos_sentence(word_sentence_list[i],  pos_sentence_list[i])
    for entity in sorted(entity_sentence_list[i]):
        print(entity)
"""

'\nfor i, sentence in enumerate(sentence_list):\n    print(f"\'{sentence}\'")\n    print_word_pos_sentence(word_sentence_list[i],  pos_sentence_list[i])\n    for entity in sorted(entity_sentence_list[i]):\n        print(entity)\n'

### 詞性頻率分析

In [8]:
pos_sentence_arr = pd.Series(np.concatenate(pos_sentence_list))
pos_sentence_arr

0                    Nd
1         COMMACATEGORY
2                    Na
3                     D
4                    Da
              ...
98561                Nh
98562     COMMACATEGORY
98563               Dfa
98564                VH
98565    PERIODCATEGORY
Length: 98566, dtype: object

In [9]:
pos_df = pos_sentence_arr.value_counts().sort_index().rename_axis('CKIP_POS').reset_index(name = 'frequency')
pos_df_sorted = pos_df.sort_values(by = ['frequency'], ascending = False)
pos_df_sorted.head()

         CKIP_POS  frequency
20             Na      14600
2   COMMACATEGORY       9093
7               D       8546
9              DE       7679
51             VH       7426

### 斷詞

In [10]:
word_sentence_arr = pd.Series(np.concatenate(word_sentence_list))
word_sentence_arr

0        這時
1         ，
2         人
3         也
4         只
         ..
98561     我
98562     ，
98563     很
98564    幸福
98565     。
Length: 98566, dtype: object

### 單詞辭意計算

In [11]:
cwn = CwnBase()
    
def all_sense_tree (word, verbal = False):
    cnt = 0
    for i in range(len(word)):
        snese_tree = word[i].senses
        cnt += len(word[i].senses)
        if(verbal == True): print(snese_tree)
    
    if(verbal == True): print("total senses = ", cnt)
    return cnt

In [12]:
_word = word_sentence_arr[0]
word = cwn.find_lemma("^" + _word + "$")
print("word: ", _word)
all_sense_tree(word, verbal = True)

word:  這時
total senses =  0

0

### 所有單詞詞性與辭意計算（辭意非零者）

In [13]:
pun_set = {"COLONCATEGORY", "COMMACATEGORY", "DASHCATEGORY", "ETCCATEGORY", "EXCLAMATIONCATEGORY", "PARENTHESISCATEGORY",
          "PAUSECATEGORY", "PERIODCATEGORY", "QUESTIONCATEGORY", "SEMICOLONCATEGORY", "SPCHANGECATEGORY"}

senses_list = list()

for i in range(len(word_sentence_arr)):
    if(pos_sentence_arr[i] not in pun_set):
        _word = word_sentence_arr[i]
        word = cwn.find_lemma("^" + _word + "$")
        sense_cnt = all_sense_tree(word)
        senses_list.append((word_sentence_arr[i], pos_sentence_arr[i], sense_cnt))
        
senses_df = pd.DataFrame(senses_list, columns = ['Word', 'CKIP_POS', 'sense_cnt'])
senses_df_ = senses_df[senses_df.sense_cnt != 0]
senses_df_

      Word CKIP_POS  sense_cnt
1        人       Na         11
2        也        D         15
3        只       Da          8
4        能        D          5
5        笑       VA          2
...    ...      ...        ...
83429   人間       Nc          1
83430   愉快       VH          1
83431    我       Nh          3
83432    很      Dfa          1
83433   幸福       VH          1

[61799 rows x 3 columns]

### 辭意非零者平均辭意

In [14]:
# count average senses
senses_df_['sense_cnt'].mean()

7.985274842634994

### 辭意為零者

In [15]:
senses_df_0 = senses_df[senses_df.sense_cnt == 0]
senses_df_0

      Word    CKIP_POS  sense_cnt
0       這時          Nd          0
7       \n  WHITESPACE          0
8      蘇迪勒          Nb          0
10      狂風          Na          0
11      橫掃         VCL          0
...    ...         ...        ...
83400   吟嘯          VA          0
83402   徐行          VA          0
83404   曠達          VH          0
83413   寶藏          Na          0
83424   溫情          Na          0

[21635 rows x 3 columns]

### 扣除詞性為DE與Nh者單詞出現頻率（含零者）

In [18]:
senses_df_adj = senses_df_[senses_df_.CKIP_POS != "DE"]
senses_df_adj = senses_df_adj[senses_df_adj.CKIP_POS != "Nh"]

words_cnt_adj = pd.DataFrame(senses_df_adj.value_counts())
words_cnt_adj

                            0
Word CKIP_POS sense_cnt
一    Neu      10         1458
是    SHI      9          1370
在    P        10         1232
了    Di       5           841
不    D        3           703
...                       ...
藉以   Cbb      1             1
復健   Nv       3             1
復興   VC       1             1
蔚為   VG       1             1
解體   VB       2             1

[4510 rows x 1 columns]