cd Documents/NTU/2_Sophomore/2-2/R/Project/LING5505-Final-Project-Group3

In [1]:
import numpy as np
import pandas as pd
import gdown
import os

import torch
import transformers

import CwnSenseTagger
CwnSenseTagger.download()

import CwnGraph
CwnGraph.download()

from CwnGraph import CwnBase
from ckiptagger import data_utils, construct_dictionary, WS, POS, NER

#import DistilTag
#DistilTag.download()

A copy of DistilTag model already exists. Use upgrade=True to overwrite
A copy of cwn_grpah.pyobj already exists. Use upgrade=True to overwrite

In [2]:
ws = WS(os.path.abspath(os.path.join(os.getcwd(), os.path.pardir)) + '/data')
pos = POS(os.path.abspath(os.path.join(os.getcwd(), os.path.pardir)) + '/data')
ner = NER(os.path.abspath(os.path.join(os.getcwd(), os.path.pardir)) + '/data')

/Users/dereklu/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/layers/legacy_rnn/rnn_cell_impl.py:909: UserWarning: `tf.nn.rnn_cell.LSTMCell` is deprecated and will be removed in a future version. This class is equivalent as `tf.keras.layers.LSTMCell`, and will be replaced by that in Tensorflow 2.0.
  warnings.warn("`tf.nn.rnn_cell.LSTMCell` is deprecated and will be "
/Users/dereklu/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/base_layer_v1.py:1700: UserWarning: `layer.add_variable` is deprecated and will be removed in a future version. Please use `layer.add_weight` method instead.
  warnings.warn('`layer.add_variable` is deprecated and '

### 讀取資料集

In [3]:
all_f = []

for file in os.listdir("data_set/"):
    if file.endswith(".txt"): all_f.append(file)

len(all_f)

208

In [4]:
sentence_list = []

for i in all_f:
    f = open("data_set/" + i)
    sentence_list.append(f.read())

In [5]:
print(sentence_list[1])
print("\nlist length = ", len(sentence_list))

秋天總給人一種蕭瑟之感，但我卻對秋天情有獨鍾。
秋風颯颯，捲起了千堆落葉，也捲起了眾多遷客騷人的心。秋是詩人的季節，許多對人生的慨歎或瞭悟在這個季節找到了適當的詞語。秋風一起，詩句亦在詩人的腦中跳躍並重組著，待風歇息，一首首動人的詩句便完成了，也因此我能在這悽美的季節，吟詠著古今文人的寂寞，抑或曠達，進而尋找自己的人生方向。
如果夏是一首絕句，我認為邱是舖採搞文的長賦。厭倦秋天的人認為它冗言而寡要，而深愛的秋天的人總能讀出壯麗的美感。秋天是個冷靜的季節，它總沉得住氣。它不急不徐，卻在我們的周遭留下一些痕跡。秋風吹著樹葉，卻不催它迅速轉紅。每日每日，秋意漸濃，樹葉也一點一點轉黃至淡紅中至深紅而落下。秋天看似孤傲，不易接近，但它默默付出心力，在季節得遞嬗扮演著轉承的角色，落下的葉是為了留下空間迎接新生命的到來，讓眾人所愛的綠再次蓊鬱。秋總不居功，它不喜歡光彩奪目的人生，但它成就著他人的輝煌。
我期許著自己能如同秋天一般，無伐善、無施勞，貢獻一己之心，讓社會能持續轉動，不停歇。

list length =  208

### setting ckiptagger

In [6]:
word_sentence_list = ws(sentence_list)

pos_sentence_list = pos(word_sentence_list)

entity_sentence_list = ner(word_sentence_list, pos_sentence_list)

### 斷詞結果顯示函式

In [7]:
def print_word_pos_sentence (word_sentence, pos_sentence):
    assert len(word_sentence) == len(pos_sentence)
    for word, pos in zip(word_sentence, pos_sentence):
        print(f"{word}({pos})", end="\u3000")
    print()
    return

"""
for i, sentence in enumerate(sentence_list):
    print(f"'{sentence}'")
    print_word_pos_sentence(word_sentence_list[i],  pos_sentence_list[i])
    for entity in sorted(entity_sentence_list[i]):
        print(entity)
"""

'\nfor i, sentence in enumerate(sentence_list):\n    print(f"\'{sentence}\'")\n    print_word_pos_sentence(word_sentence_list[i],  pos_sentence_list[i])\n    for entity in sorted(entity_sentence_list[i]):\n        print(entity)\n'

### 詞性頻率分析

In [8]:
pos_sentence_arr = pd.Series(np.concatenate(pos_sentence_list))
pos_sentence_arr

0                    Nd
1         COMMACATEGORY
2                    Na
3                     D
4                    Da
              ...
98561                Nh
98562     COMMACATEGORY
98563               Dfa
98564                VH
98565    PERIODCATEGORY
Length: 98566, dtype: object

In [9]:
pos_df = pos_sentence_arr.value_counts().sort_index().rename_axis('CKIP_POS').reset_index(name = 'frequency')
pos_df_sorted = pos_df.sort_values(by = ['frequency'], ascending = False)
pos_df_sorted.head()

         CKIP_POS  frequency
20             Na      14600
2   COMMACATEGORY       9093
7               D       8546
9              DE       7679
51             VH       7426

### 斷詞

In [10]:
word_sentence_arr = pd.Series(np.concatenate(word_sentence_list))
word_sentence_arr

0        這時
1         ，
2         人
3         也
4         只
         ..
98561     我
98562     ，
98563     很
98564    幸福
98565     。
Length: 98566, dtype: object

### 單詞辭意計算函式

In [11]:
cwn = CwnBase()
    
def all_sense_tree (word, verbal = False):
    cnt = 0
    for i in range(len(word)):
        snese_tree = word[i].senses
        cnt += len(word[i].senses)
        if(verbal == True): print(snese_tree)
    
    if(verbal == True): print("total senses = ", cnt)
    return cnt

In [74]:
# test

_word = word_sentence_arr[108]
word = cwn.find_lemma("^" + _word + "$")
print("word: ", _word)
all_sense_tree(word, verbal = True)

word:  長
[<CwnSense[05229401](長): 新的植物個體產生並生長。>, <CwnSense[05229402](長): 生物體生出後述有機組織。>, <CwnSense[05229403](長): 前述對象造成了有利於後述對象生長或活動的環境。>, <CwnSense[05229409](長): 生物體由小到大發育。>, <CwnSense[05229405](長): 外貌看起來。>, <CwnSense[05229406](長): 增加後述特性。>, <CwnSense[05229408](長): 特定組織中的領導人。>, <CwnSense[05229404](長): 物體表面出現會影響其外觀或價值的特定對象，通常是斑點或鐵鏽。>, <CwnSense[05229407](長): 比喻事件發展狀態變好。>]
[<CwnSense[06030801](長): 形容同一物體兩端點之間的長度大。>, <CwnSense[06030802](長): 形容兩端點之間的路徑距離大。>, <CwnSense[06030803](長): 形容事件持續的時間間隔大。>, <CwnSense[06030804](長): 形容文本從開始到結束的字數多或篇幅大。>, <CwnSense[06030805](長): 形容買賣時間差距大。>, <CwnSense[06030806](長): 前述長度增加的長度等同後述長度。>, <CwnSense[06030807](長): 前述時間增加的時間等同後述時間。>, <CwnSense[06030808](長): 文本從開始到結束的篇幅是後述對象。>, <CwnSense[06030809](長): 物體的長度。>, <CwnSense[06030810](長): 時間的長度。>, <CwnSense[06030811](長): 表後述事件一直持續。>, <CwnSense[06030812](長): 專精於後述技術或領域。>, <CwnSense[06030813](長): 專精的技術或領域。>, <CwnSense[06030814](長): 形容評論前述對象的是非。>, <CwnSense[06030815](長): 形容一直在討論後述對象。>, <CwnSense[06030816](長): 形容母音持續的時間間隔大。>]
[<CwnSense[06030901](長): 姓。>]
[<CwnSense[06031001](長): 形容年紀大的。>, <CwnSense[06031002](長): 比後述對象大的輩份是後述輩份。>]
total senses =  28

28

### 所有單詞詞性與辭意計算（辭意非零者）

In [13]:
pun_set = {"COLONCATEGORY", "COMMACATEGORY", "DASHCATEGORY", "ETCCATEGORY", "EXCLAMATIONCATEGORY", "PARENTHESISCATEGORY",
          "PAUSECATEGORY", "PERIODCATEGORY", "QUESTIONCATEGORY", "SEMICOLONCATEGORY", "SPCHANGECATEGORY"}

senses_list = list()

for i in range(len(word_sentence_arr)):
    if(pos_sentence_arr[i] not in pun_set):
        _word = word_sentence_arr[i]
        word = cwn.find_lemma("^" + _word + "$")
        sense_cnt = all_sense_tree(word)
        senses_list.append((word_sentence_arr[i], pos_sentence_arr[i], sense_cnt))
        
senses_df = pd.DataFrame(senses_list, columns = ['Word', 'CKIP_POS', 'sense_cnt'])
senses_df_ = senses_df[senses_df.sense_cnt != 0]
senses_df_

      Word CKIP_POS  sense_cnt
1        人       Na         11
2        也        D         15
3        只       Da          8
4        能        D          5
5        笑       VA          2
...    ...      ...        ...
83429   人間       Nc          1
83430   愉快       VH          1
83431    我       Nh          3
83432    很      Dfa          1
83433   幸福       VH          1

[61799 rows x 3 columns]

In [62]:
print("辭意總計:")
senses_df_.sense_cnt.sum()

辭意總計:

493482

### 平均辭意

In [53]:
# count average senses
print("所有單詞平均辭意:")
print(senses_df['sense_cnt'].mean())
print("\n辭意非零單詞平均辭意:")
print(senses_df_['sense_cnt'].mean())

所有單詞平均辭意:
5.914639115947935

辭意非零單詞平均辭意:
7.985274842634994

### 辭意為零者

In [60]:
senses_df_0 = senses_df[senses_df.sense_cnt == 0]
senses_df_0 = senses_df_0[senses_df_0.CKIP_POS != 'WHITESPACE'] # filter \n
senses_df_0
### 不太行...很多常見字辭意為零

      Word CKIP_POS  sense_cnt
0       這時       Nd          0
8      蘇迪勒       Nb          0
10      狂風       Na          0
11      橫掃      VCL          0
24      郵筒       Na          0
...    ...      ...        ...
83400   吟嘯       VA          0
83402   徐行       VA          0
83404   曠達       VH          0
83413   寶藏       Na          0
83424   溫情       Na          0

[20997 rows x 3 columns]

In [55]:
sense0_por = senses_df_0.shape[0]/senses_df_.shape[0]
print("整體而言辭意為零之單詞佔所有單詞的比例:")
print(sense0_por)

整體而言辭意為零之單佔所有單詞比例:
0.3397627793329989

### 特定詞性單詞出現頻率（含辭意為零者）

In [41]:
words_cnt_ = pd.DataFrame(senses_df_.value_counts())
print("Head of frequency of all words")
display(words_cnt_.head(10))

words_cnt_Na = senses_df_[senses_df_.CKIP_POS == 'Na']
words_cnt_Na = pd.DataFrame(words_cnt_Na.value_counts())
print("\n\nHead of frequency of Na(普通名詞) words")
display(words_cnt_Na.head())

words_cnt_VA = senses_df_[senses_df_.CKIP_POS == 'VA']
words_cnt_VA = pd.DataFrame(words_cnt_VA.value_counts())
print("\n\nHead of frequency of VA(動作不及物動詞) words")
display(words_cnt_VA.head())

words_cnt_Nb = senses_df_[senses_df_.CKIP_POS == 'Nb']
words_cnt_Nb = pd.DataFrame(words_cnt_Nb.value_counts())
print("\n\nHead of frequency of Nb(專有名稱) words")
display(words_cnt_Nb.head())

Head of frequency of all words

                            0
Word CKIP_POS sense_cnt
的    DE       16         7049
我    Nh       3          2697
一    Neu      10         1458
是    SHI      9          1370
在    P        10         1232
了    Di       5           841
不    D        3           703
著    Di       8           651
自己   Nh       5           606
有    V_2      8           569

Head of frequency of Na(普通名詞) words

                           0
Word CKIP_POS sense_cnt
人    Na       11         486
心    Na       13         250
生命   Na       8          234
人生   Na       1          206
學生   Na       2           86

Head of frequency of VA(動作不及物動詞) words

                          0
Word CKIP_POS sense_cnt
來    VA       19         44
存在   VA       3          35
笑    VA       2          30
站    VA       7          23
走    VA       20         21

Head of frequency of Nb(專有名稱) words

                          0
Word CKIP_POS sense_cnt
孔子   Nb       3          13
李白   Nb       2          11
老子   Nb       5           6
史記   Nb       1           6
莊子   Nb       4           5